
# bin files #
*.class
*.jar
*.war
*.ear
bin/**
dist/**
build/**

#general swap/backup files
hs_err_pid*
*.so
*.log
*.out
*~
*.swp
*.DS_Store
Thumbs.db
Desktop.ini
._*
.Spotlight-V100
.Trashes
*.lock

# NetBeans
core
nbbuild/
nbdist/
nbproject/*
nbactions.xml
nb-configuration.xml

# Eclipse
local.properties
.settings/
.loadpath
.recommenders
.project
.metadata
.externalToolBuilders/
*.launch
.cproject
.classpath
.factorypath
.buildpath
.target
.tern-project
.springBeans
.recommenders/
/target/